input{
    width: 200px;
    margin-right: 100px;
    border: 2px solid black;
}
#bEnviar{
    width: 100px;
    margin-left: 65px;
    margin-bottom: 10px
}
textarea{
    border: 2px solid black;

}
div{
    border: 3px solid red;
    margin-left: 50px;
    padding-left: 20px;
    margin-top: 30px;
    width: 250px;
    padding-top: 10px
}
body{
    padding: 0px;
    margin: 0px;
}